body{
    background-color: gray;
}
.container{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    color: #063251;
    font-weight: bold;
    font-family: "roboto",sans-serif;
    letter-spacing: 5px;
    margin-top: 160px;
    padding-top: 40px;
    padding-bottom: 30px;
}
#input-el{
    background-color: #f1f5f8;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
}
#btn-el{
    background-color: #a5d5f8;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
}
@media screen and (max-width: 367px) {
    #btn-el{
        background-color: #a5d5f8;
        color: white;
        border: none;
        border-radius: 10px 10px 10px 10px;
    }
    #input-el{
        background-color: #f1f5f8;
        border: none;
        border-radius: 10px 10px 10px 10px;
        padding-left: 10px;
    }
  }